/* блять ну тебе не похуй что тут?*/
html, body {
  height: 100%;
  width: 100%;

  font-family: "Open Sans", sans-serif;
}

body {
  background: url(bg.jpg) no-repeat center 0;
  background-size: cover;
  overflow: hidden;
}

#countdown {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff3131;
  font-size: 75px;
  text-shadow: 0 0 8px rgba(150, 150, 150, 1);
  text-align: center;
}
